@import "tailwindcss";
@import "tw-animate-css";
@plugin "@iconify/tailwind4" {
  prefixes: ph;
};

@custom-variant dark (&:is(.dark *));

@theme inline {
  --text-base: 1rem;
  --animate-accordion-down: accordion-down 0.15s;
  --animate-accordion-up: accordion-up 0.15s;
  --animate-caret-blink: caret-blink 1s ease-out infinite;
  --color-overlay: var(--overlay);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  @keyframes accordion-down {
  from {
    height: 0;
    opacity: 0;
    }
  to {
    height: var(--radix-accordion-content-height);
    opacity: 1;
    }
  }
  @keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
    }
  to {
    height: 0;
    opacity: 0;
    }
  }
  @keyframes caret-blink {
  0%, 70%, 100% {
    opacity: 1;
    }
  20%, 50% {
    opacity: 0;
    }
  }
}

:root {
  --hue: 200;
  --saturation-factor: 10;
  --background: hsl(var(--hue) calc(100.00% * var(--saturation-factor)) 98.43%);
  --foreground: hsl(var(--hue) calc(20.25% * var(--saturation-factor)) 30.98%);
  --card: hsl(var(--hue) calc(100% * var(--saturation-factor)) 99.41%);
  --card-foreground: hsl(var(--hue) calc(20.25% * var(--saturation-factor)) 30.98%);
  --popover: hsl(var(--hue) calc(100.00% * var(--saturation-factor)) 98.43%);
  --popover-foreground: hsl(var(--hue) calc(20.25% * var(--saturation-factor)) 30.98%);
  --primary: hsl(var(--hue) calc(44.13% * var(--saturation-factor)) 35.10%);
  --primary-foreground: hsl(var(--hue) calc(25.00% * var(--saturation-factor)) 98.43%);
  --secondary: hsl(var(--hue) calc(47.37% * var(--saturation-factor)) 96.27%);
  --secondary-foreground: hsl(var(--hue) calc(20.22% * var(--saturation-factor)) 34.90%);
  --muted: hsl(var(--hue) calc(48.57% * var(--saturation-factor)) 93.14%);
  --muted-foreground: hsl(var(--hue) calc(10.83% * var(--saturation-factor)) 47.06%);
  --accent: hsl(var(--hue) calc(53.85% * var(--saturation-factor)) 97.45%);
  --accent-foreground: hsl(var(--hue) calc(47.13% * var(--saturation-factor)) 17.06%);
  --destructive: hsl(0 calc(70.09% * var(--saturation-factor)) 58.04%);
  --destructive-foreground: hsl(0 calc(0% * var(--saturation-factor)) 98.04%);
  --border: hsl(var(--hue) calc(40.00% * var(--saturation-factor)) 88.24%);
  --input: hsl(var(--hue) calc(40.00% * var(--saturation-factor)) 88.24%);
  --ring: hsl(var(--hue) calc(17.10% * var(--saturation-factor)) 62.16%);
  --chart-1: hsl(var(--hue) calc(70.20% * var(--saturation-factor)) 50%);
  --chart-2: hsl(var(--hue) calc(64.71% * var(--saturation-factor)) 40%);
  --chart-3: hsl(var(--hue) calc(39.87% * var(--saturation-factor)) 30%);
  --chart-4: hsl(var(--hue) calc(59.80% * var(--saturation-factor)) 60%);
  --chart-5: hsl(var(--hue) calc(60% * var(--saturation-factor)) 54.90%);
  --sidebar: hsl(var(--hue) calc(0% * var(--saturation-factor)) 98.43%);
  --sidebar-foreground: hsl(var(--hue) calc(0% * var(--saturation-factor)) 14.51%);
  --sidebar-primary: hsl(var(--hue) calc(0% * var(--saturation-factor)) 20.39%);
  --sidebar-primary-foreground: hsl(var(--hue) calc(0% * var(--saturation-factor)) 98.43%);
  --sidebar-accent: hsl(var(--hue) calc(0% * var(--saturation-factor)) 96.86%);
  --sidebar-accent-foreground: hsl(var(--hue) calc(0% * var(--saturation-factor)) 20.39%);
  --sidebar-border: hsl(var(--hue) calc(0% * var(--saturation-factor)) 92.16%);
  --sidebar-ring: hsl(var(--hue) calc(0% * var(--saturation-factor)) 70.98%);
  --radius: 0.25rem;
}

.dark {
  --hue: 263;
  --saturation-factor: 0.8;
  --background: hsl(var(--hue) calc(30.00% * var(--saturation-factor)) 3.92%);
  --foreground: hsl(var(--hue) calc(21.74% * var(--saturation-factor)) 90.98%);
  --card: hsl(var(--hue) calc(29.03% * var(--saturation-factor)) 6.08%);
  --card-foreground: hsl(var(--hue) calc(21.74% * var(--saturation-factor)) 90.98%);
  --popover: hsl(var(--hue) calc(30.00% * var(--saturation-factor)) 3.92%);
  --popover-foreground: hsl(var(--hue) calc(51.11% * var(--saturation-factor)) 91.18%);
  --primary: hsl(var(--hue) calc(100% * var(--saturation-factor)) 90.98%);
  --primary-foreground: hsl(var(--hue) calc(22.22% * var(--saturation-factor)) 3.53%);
  --secondary: hsl(var(--hue) calc(31.25% * var(--saturation-factor)) 6.27%);
  --secondary-foreground: hsl(var(--hue) calc(51.11% * var(--saturation-factor)) 91.18%);
  --muted: hsl(var(--hue) calc(26.03% * var(--saturation-factor)) 14.31%);
  --muted-foreground: hsl(var(--hue) calc(24.30% * var(--saturation-factor)) 58.04%);
  --accent: hsl(var(--hue) calc(36.36% * var(--saturation-factor)) 4.31%);
  --accent-foreground: hsl(var(--hue) calc(51.11% * var(--saturation-factor)) 91.18%);
  --destructive: hsl(0 calc(62.82% * var(--saturation-factor)) 30.59%);
  --destructive-foreground: hsl(var(--hue) calc(51.11% * var(--saturation-factor)) 91.18%);
  --border: hsl(var(--hue) calc(19.40% * var(--saturation-factor)) 13.14%);
  --input: hsl(var(--hue) calc(19.40% * var(--saturation-factor)) 13.14%);
  --ring: hsl(var(--hue) calc(0% * var(--saturation-factor)) 83.14%);
  --chart-1: hsl(var(--hue) calc(69.61% * var(--saturation-factor)) 40%);
  --chart-2: hsl(var(--hue) calc(50.22% * var(--saturation-factor)) 44.90%);
  --chart-3: hsl(var(--hue) calc(60% * var(--saturation-factor)) 54.90%);
  --chart-4: hsl(var(--hue) calc(74.78% * var(--saturation-factor)) 45.10%);
  --chart-5: hsl(var(--hue) calc(70.31% * var(--saturation-factor)) 44.90%);
  --sidebar: hsl(var(--hue) calc(0% * var(--saturation-factor)) 20.39%);
  --sidebar-foreground: hsl(var(--hue) calc(0% * var(--saturation-factor)) 98.43%);
  --sidebar-primary: hsl(var(--hue) calc(69.61% * var(--saturation-factor)) 40%);
  --sidebar-primary-foreground: hsl(var(--hue) calc(0% * var(--saturation-factor)) 98.43%);
  --sidebar-accent: hsl(var(--hue) calc(0% * var(--saturation-factor)) 27.06%);
  --sidebar-accent-foreground: hsl(var(--hue) calc(0% * var(--saturation-factor)) 98.43%);
  --sidebar-border: hsl(var(--hue) calc(0% * var(--saturation-factor)) 27.06%);
  --sidebar-ring: hsl(var(--hue) calc(0% * var(--saturation-factor)) 43.92%);
  --radius: 0.5rem;
}


@layer base {
  * {
    @apply border-border outline-ring/50 font-mono;
  }
  body {
    @apply bg-background text-foreground;
  }

}
