@import 'tailwindcss';
@import 'tw-animate-css';

@layer base {
  * {
    @apply selection:bg-secondary selection:text-background underline-offset-3 text-base border-border;
    font-weight: 500;
    box-sizing: border-box;
    grid-area: 1 / 1 / 1 / 1;
    min-width: 0;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}

@layer utilities {
  .prose p {
    @apply mb-6;
  }

  .prose a {
    @apply text-primary underline;
  }
}

:root {
  --background: hsl(15 66.67% 99%);
  --foreground: hsl(15 0% 20.25%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 0%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 0%);
  --primary: hsl(10.1 70.63% 71.96%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(190 71.83% 72.16%);
  --secondary-foreground: hsl(0 0% 10.2%);
  --muted: hsl(13.33 42.86% 95.88%);
  --muted-foreground: hsl(10.91 1.57% 50%);
  --accent: hsl(0 20% 97.06%);
  --accent-foreground: hsl(0 0% 0%);
  --destructive: hsl(347.92 75.49% 60%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(9.23 25.49% 90%);
  --input: hsl(8.57 25% 89.02%);
  --ring: hsl(0 0% 0%);
  --spacing: 0.2rem;
}

@theme inline {
  --font-weight-medium: 700;

  --text-2xl: calc(var(--text-base) * 1.75);
  --text-xl: calc(var(--text-base) * 1.5);
  --text-lg: calc(var(--text-base) * 1.25);
  --text-base: 1.075rem;
  --text-sm: calc(var(--text-base) * 0.9);
  --text-xs: calc(var(--text-base) * 0.75);

  --font-sans: var(--next-font-sans);
  --font-mono: var(--next-font-mono);

  --animate-fancy-fade-in: fancy-fade-in 0.65s ease-in-out;

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

@keyframes fancy-fade-in {
  0% {
    mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 150% 0 / 400% no-repeat;
    opacity: 0.2;
  }

  100% {
    mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 0 / 400% no-repeat;
    opacity: 1;
  }
}

@layer utilities {
  .page-transition {
    view-transition-name: page;
  }

  ::view-transition-new(page) {
    animation: 200ms swipe-up-in cubic-bezier(0.76, 0, 0.24, 1);
    animation-fill-mode: forwards;
    animation-duration: 200ms;
  }

  @keyframes swipe-up-in {
    0% {
      opacity: 0;
      translate: 0 20px;
    }

    100% {
      opacity: 1;
      translate: 0 0;
    }
  }

  ::view-transition-old(page) {
    animation: 200ms swipe-up-out cubic-bezier(0.76, 0, 0.24, 1);
    animation-fill-mode: forwards;
    animation-duration: 200ms;
  }

  @keyframes swipe-up-out {
    0% {
      opacity: 1;
      translate: 0 0;
    }

    100% {
      opacity: 0;
      translate: 0 -20px;
    }
  }
}

/* @layer utilities {
  .left {
    view-transition-name: left;
  }

  ::view-transition-new(left) {
    animation: 200ms swipe-left-in;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  @keyframes swipe-left-in {
    0% {
      opacity: 0;
      translate: -100px 0;
    }

    100% {
      opacity: 1;
      translate: 0px 0;
    }
  }

  ::view-transition-old(left) {
    animation: 200ms swipe-left-out;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  @keyframes swipe-left-out {
    0% {
      opacity: 1;
      translate: 0px 0;
    }

    100% {
      opacity: 0;
      translate: 100px 0;
    }
  }
} */
