@import 'tailwindcss';

@theme inline {
  --font-sans: 'SN Pro', sans-serif;
  --font-mono: 'Paper Mono', monospace;

  --font-weight-medium: 500;

  --text-2xl: calc(var(--text-base) * 1.75);
  --text-xl: calc(var(--text-base) * 1.5);
  --text-lg: calc(var(--text-base) * 1.25);
  --text-base: 1.075rem;
  --text-sm: calc(var(--text-base) * 0.9);
  --text-xs: calc(var(--text-base) * 0.75);

  --animate-fancy-fade-in: fancy-fade-in 0.65s ease-in-out;

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

:root {
  --background: hsl(15 66.67% 99%);
  --foreground: hsl(15 0% 20.25%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 0%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 0%);
  --primary: hsl(10.1 70.63% 71.96%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(190 71.83% 72.16%);
  --secondary-foreground: hsl(0 0% 10.2%);
  --muted: hsl(13.33 42.86% 93.88%);
  --muted-foreground: hsl(10.91 1.57% 50%);
  --accent: hsl(0 20% 97.06%);
  --accent-foreground: hsl(0 0% 0%);
  --destructive: hsl(347.92 75.49% 60%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(9.23 25.49% 90%);
  --input: hsl(8.57 25% 89.02%);
  --ring: hsl(0 0% 0%);
  --spacing: 0.2rem;
}

@layer base {
  * {
    @apply selection:bg-secondary selection:text-background underline-offset-3 text-base border-border antialiased;
    font-weight: 400;
    letter-spacing: 0.01em;
    font-optical-sizing: auto;
    box-sizing: border-box;
    grid-area: 1 / 1 / 1 / 1;
    min-width: 0;
    scrollbar-color: var(--secondary) var(--background);
  }

  *[class*='font-mono'] {
    font-weight: 400;
    text-box: trim-both cap alphabetic;
    padding-bottom: 0.5rem;
  }

  body {
    @apply bg-background text-foreground font-sans overflow-y-scroll antialiased;
  }
}
